{% extends 'base.html' %}
{% block title %}  Delete Blog Post {% endblock %}
{% block content %}

{% if user.is_authenticated %}
<h1>Delete  Post...</h1>

<table>
    <h3> Delete: {{post.title}} </h3>
    <div  class="form-group">
        <form method="POST">
            {% csrf_token %}
            <Strong> Are you sure?</Strong><br/><br/>
             <button class="btn btn-secondary">Delete Post!</button>
        </form>
    </div>
{% else %}
    you're not allow for update
 {% endif %}
</table>

{% endblock %}